.sortables{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    span:first-child{
    	position:absolute;
    	top:0;
    }
    span:last-child{
    	position:absolute;
    	bottom:0;
    }
    span{
    	color:lightgray;
    	font-size:18px;
    }
    span:hover{
    	color:#002a80;
    }
 }
 .table{
    .col-1{
        width: 10%;
    }
    .col-2{
        width: 30%;
    }
    .col-3{
        width: 30%;
    }
    .col-4{
        width: 30%;
    }
 }