<div class="col-md-12 ListContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="row" infinite-scroll="loadMore()" infinite-scroll-distance="1">
                <cc-card ng-repeat="person in contacts.persons" user="person" delete-user="parentDeleteUser"></cc-card>
            </div>
           <!-- <table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">
               <thead>
                    <tr >
                        <th class="text-center col-1">#</th>
                        <th class="text-center col-2"> 
                            <div class="sortables">
                                <span class="fa fa-sort-asc" ng-click="order= 'name'" ng-style="{'cursor':'pointer'}"></span>
                                <span class="fa fa-sort-desc" ng-click="order='-name'" ng-style="{'cursor':'pointer'}"></span>
                            </div>
                            Name
                        </th>
                        <th class="text-center col-3">
                            <div class="sortables">
                                <span class="fa fa-sort-asc" ng-click="order= 'email'" ng-style="{'cursor':'pointer'}"></span>
                                <span class="fa fa-sort-desc" ng-click="order='-email'" ng-style="{'cursor':'pointer'}"></span>
                            </div>
                            Email
                        </th>
                        <th class="text-center col-4">Phone</th>
                    </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="person in contacts.persons" class="text-center" ng-style="{
                    'background-color':person.email==contacts.selectedPerson.email?'lightgray':'',
                    'cursor':'pointer'
                   }"  ui-sref="edit({email:person.email})"> 
                       <td><img ng-src="{{person.photo | defaultImage:'css/img/default.png'}}" alt="" class="img-circle profile-photo"></td>
                       <td>{{person.name}}</td>
                       <td>{{person.email}}</td>
                       <td>{{person.phonenumber}}</td>
                   </tr>
                   
               </tbody>
            </table>-->

            <div ng-show="contacts.persons.length==0 && !contacts.isLoading">
                <div class="alert alert-info">
                     <p class="text-center">
                        No results found for search term '{{search}}'
                    </p>
                </div>
           </div>
            
            <!-- spinner -->
            <cc-spinner is-loading='contacts.isLoading' message="mooing"></cc-spinner>
        </div><!-- col-12-->
    </div><!-- row-->
</div>